.login-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.login-form {
  border: 1px solid var(--transparent-grey);
  border-radius: 10px;
  background-image: var(--gold-gradient);
  transition: 0.5s ease;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 5px 16px var(--transparent-grey);
}

.login-form * {
  margin: 15px;
}

.login-form:hover {
  transform: scale(1.25);
  transition: 0.5s ease;
  border-radius: 25px;
}

h1 {
  transition: 0.5s ease;
}

button,
input {
  box-shadow: 5px 5px 16px var(--transparent-grey);
  transition: 0.5s ease;
  background-image: var(--white-gradient);
  color: #000000;
  border: var(--gold-gradient);
  padding: 5px 10px;
  font-size: 1.1rem;
  border-radius: 25px;
}

input:focus,
button:focus {
  outline: none !important;
  border: 1px solid var(--transparent-grey);
  box-shadow: 5px 5px 16px var(--transparent-grey);
}

button:hover,
input:hover,
h1:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
}
