.container {
  position: fixed;
  top: 15px;
  left: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.sidebar-item {
  position: relative;
  top: 20px;
  width: 120px;
  height: 50px;
  border-radius: 120px;
  background-image: var(--white-gradient);
  z-index: 100;
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.sidebar-item:hover {
  transform: translateX(10px);
  box-shadow: 5px 5px 16px var(--transparent-grey);
  border-radius: 90px;
  transition: 0.5s ease;
  cursor: pointer;
}

.label {
  padding-left: 5px;
}

.nav-link {
  text-decoration: none;
  color: #000000;
}
